<!DOCTYPE html>
<html>
  <head>
    <title>my world</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>你好</h1>
    <p>欢迎来到我的世界</p>
    <p>Welcome to My world</p>
  </body>
</html>
