<!DOCTYPE html>
<html>
  <head>
    <title>胖子</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>你好</h1>
    <p>欢迎来到英雄联盟</p>
    <p>Welcome to LOL</p>
  </body>
</html>
